body.container{
    font-family: Arial, sans-serif;

}
.albumContainer {
    background-color: powderblue;
    color: darkblue;
    height: 100%;
    width: 25%;
}

li {
    list-style: none;
    font-family: Arial, sans-serif;
    padding: 7px;
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}

* {
    margin: 5px;
    padding: 5px;
}